#include "cirque.dtsi"

&pinctrl {
  i2c1_default:i2c1_default {
    group1 {
      psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
          <NRF_PSEL(TWIM_SCL, 0, 20)>;
      bias-disable;
      // bias-pull-up;
    };
  };
  i2c1_sleep:i2c1_sleep {
    group1 {
      psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
          <NRF_PSEL(TWIM_SCL, 0, 20)>;
      bias-disable;
      // bias-pull-up;
      low-power-enable;
    };
  };

};


&i2c1{
    status="disabled";
    compatible = "nordic,nrf-twi";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = < 400000 >;
    cirque: cirque@2a {
        compatible = "cirque,pinnacle";
        reg = <0x2a>;
        status = "disabled";
        dr-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH)>;
        sensitivity = "4x";
        sleep;
        //no-taps;
    };
};

&glidepoint_split {
    device = <&cirque>;

    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
};
